<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />

        <title>MOC, Inc.</title>

        <style>
            body {
                background-color: black;
                color-scheme: dark;
                color: white;
                font-family: sans-serif;
            }

            h1 {
                margin-top: 0;
            }

            label {
                display: block;
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to MOC, Inc.</h1>
        <p>Enter your credentials to access the system.</p>

        <form action="/" method="POST">
            <label>
                Username
                <input type="text" name="username" />
            </label>

            <label>
                Password
                <input type="password" name="password" />
            </label>

            <label>
                2FA Code
                <input type="text" name="totp" />
            </label>

            <input type="submit" value="Log In" />
        </form>
    </body>
</html>
