<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Duck Finder</title>
    </head>
    <body>
        <h1>Duck Finder</h1>

        <% if (notFound) { %>
            <h2>No results</h2>
        <% } else { %>
            <p>You searched for: <%= breed %></p>
            <h2>Summary:</h2>
            <p><%= summary %></p>
        <% } %>
    </body>
</html>
