html {
    height: 100%;
    width: 100%;
}
body {
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#header {
    background-color: #bd1717;
    height: 10%;
    align-content: center;
    justify-content: space-around;
    display: flex;
}
#header a {
    display: block;
}
#header a button {
    width:100px;
    height: 100%;
    background: rgb(3, 73, 3);
    border: none;
    transition: ease 0.3s;
}
#header button:hover {
    background: rgb(109, 117, 50);
}
#logotext {
    margin: 0;
    padding: 0;
    font-size:50px;
    font-family: "Comic Sans MS", cursive;
    color: #3da1c2;
    -webkit-text-stroke: 1px black;
}

#leveltext {
    font-size: large;
    font-family: "Comic Sans MS", cursive;
}

#leveltext b {
    color: #00ff22;
    font-family: Serif, serif;
}

#root {
    height:100%
}
#body {
    background: #754e00;
    height: 90%;
    align-content: center;
    display: flex;
    justify-content: center;
}

#narrow-actual-site {
    width:40%;
    height:100%;
    background: #888173;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

#code {
    border: solid black 2px;
    line-break: anywhere;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}