html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    background-color: #4da9d3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

